POSapB1/Zopone.AddOn.PO/Connected Services/SeniorContrato/rubi_Syncbr_zopone_integracaoContrato.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.senior.com.br" targetNamespace="http://services.senior.com.br" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="integracaoContratoContratoIn">
    <xs:sequence>
      <xs:element minOccurs="0" name="cadRes" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="codOem" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="datFim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="datIni" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="desCon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="empRes" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="flowInstanceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flowName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numCon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numLoc" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="obsCon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tabOrg" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="tclRes" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="valCon" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="integracaoContratoContratoOut">
    <xs:sequence>
      <xs:element minOccurs="0" name="erroExecucao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="retorno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>